<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Itinerary</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <div *ngIf="itin">
          Last updated
          {{ formatAge(now, itin.created_at) }} ago ({{ formatTime(itin.created_at) }})
        </div>
      </mat-card-subtitle>
      <div *ngIf="itin">
        <div class="itinerary">
          <markdown [data]="itin.text"></markdown>
        </div>
        <div [hidden]="!canWrite">
          <h4>Editor</h4>
          <textarea cols="80" rows="10" #editor>{{ itin.text }}</textarea>
          <div>
            <button matt-button (click)="onSaveEditor()">Save</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-card-title>Radio: Position Reports</mat-card-title>
      <mat-card-subtitle>
        These reports are picked up from my HAM radio. This section updates in real time.
      </mat-card-subtitle>
      <div class="packets">
        <div *ngFor="let p of packets">
          <div>
            {{ formatTime(p.received_at) }}
            <i>({{ formatAge(now, p.received_at) }} ago)</i>
          </div>
          <div [hidden]="!p.message" class="message">
            {{ p.message }}
          </div>
          <div *ngIf="p.has_position && p.position !== undefined">
            GPS: {{ formatGps(p.position) }}
            <span>(</span>
            <a href="https://maps.google.com/maps?t=k&q=loc:{{ p.position.latitude }},{{ p.position.longitude }}"
              >Map</a
            >
            <span>,</span>
            <a href="https://earth.google.com/web/search/{{ p.position.latitude }},{{ p.position.longitude }}">Earth</a>
            <span>)</span>
          </div>
          <div *ngIf="p.aprs !== undefined">
            Received from <b>{{ p.aprs.src }}</b>
            <a href="https://aprs.fi/#!mt=terrain&z=15&call=a%2F{{ p.src }}">(Track)</a>
          </div>
        </div>
      </div>
      <div *ngIf="!packets || !packets.length" class="empty">
        No radio packets received yet.
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-card-title>Radio: Gateway Status</mat-card-title>
      <mat-card-subtitle>
        Packets from the HAM radio APRS network are delivered by proxy servers. The status of those proxies is presented
        here. If everything is red, it may indicate a problem receiving data.
      </mat-card-subtitle>
      <div class="gateways">
        <div *ngFor="let g of gateways" [class]="toHealthStyle(g.healthy_at)">
          <div>
            Server <b>{{ g.hostname }}</b> last check-in <b>{{ formatTime(g.healthy_at) }}</b>
          </div>
          <div>
            Build <b>{{ g.build_label }}</b
            >, Last Restart <b>{{ formatTime(g.started_at) }}</b>
          </div>
        </div>
      </div>
      <div *ngIf="!gateways || !gateways.length" class="empty">
        No gateways are available.
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-card-title>Satellite: Garmin InReach Portal</mat-card-title>
      <mat-card-subtitle>
        <div>
          My InReach satellite messenger uploads data to the Garmin MapShare portal below.
        </div>
        <div>
          Please note that sending messages costs money ($0.50 per message, $0.10 per location update).
        </div>
        <p></p>
        <div *ngIf="secrets" class="large">
          Enter password <b>{{ secrets.garmin }}</b> to access.
        </div>
      </mat-card-subtitle>
    </mat-card-content>
    <div class="large">
      <a href="https://share.garmin.com/jheidel" target="_blank">
        Open Garmin MapShare Portal
      </a>
    </div>
  </mat-card>
</div>
