.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container > * {
  margin: 1em;
}

.healthy {
  background-color: lightgreen;
}
.unhealthy {
  background-color: lightpink;
}

.gateways > div {
  margin: 0.2em;
  padding: 0.2em;
}

.gateways {
  display: inline-flex;
  flex-direction: column;
}

.module {
  padding: 2px;
  color: white;
}

.module-good {
  background-color: green;
}

.module-bad {
  background-color: red;
}

.packets {
  display: inline-flex;
  flex-direction: column;
}

.packets > div {
  margin: 0.2em;
  padding: 0.2em;
  background-color: #eee;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.message {
  font-size: 1.3em;
  color: maroon;
}

.itinerary {
  display: inline-flex;
  flex-direction: column;
  max-width: 700px;
  text-align: left;
  background-color: #eee;
  padding-left: 1em;
  padding-right: 1em;
}

.large {
  font-size: 12pt;
}

.empty {
  font-style: italic;
  color: #999;
  padding-bottom: 1em;
}
