<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    </p>
    <mat-card-content>
      <mat-card-title>Hello World!</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading">{{ quote }}</q>
      </mat-card-subtitle>

      <div *ngIf="text">
        <h2>Latest Itinerary</h2>
        <div>
          <markdown [data]="text"></markdown>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
